@model Core.Models.MovieModel
<div class="col-md-3 mb-4">
    <div class="card shadow-lg border-0">
        <img src="@Model.PosterUrl" class="card-img-top" alt="@Model.Title">
        <div class="card-body text-center">
            <h5 class="card-title">@Model.Title</h5>
        </div>
    </div>
</div>